<div class="row">
  <div class="col-sm-12" id="featured">
    <div class="page-header text-muted">
      Familia de mascotas
    </div>
  </div>
</div>

<div class="row"> 
  <div class="col-sm-12">
    <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @families.each do |family| %>
        <tr>
          <td><%= family.name %></td>
          <td>
            <%= link_to 'Editar', edit_family_path(family) %> | 
            <%= link_to 'Eliminar', family, method: :delete, data: { confirm: 'Está seguro de eliminar?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'Nueva familia', new_family_path %>
  </div>
</div>