<ul class="sidebar-nav">
    <li class="sidebar-brand">
        <a href="#">
            Opciones - Veterinaria
        </a>
    </li>
    <li>
        <%= link_to "Servicios", services_path %>
    </li>
    <li>
        <%= link_to "Especies", families_path %>
    </li>
    <li>
        <%= link_to "Razas", breeds_path %>
    </li>
</ul>